node-RED-UPYUN.json
[{"id":"1580932c.ea7f6d","type":"http in","name":"接收上传","url":"/upyun","method":"post","x":69,"y":145,"z":"fe740afa.018bf8","wires":[["17a6afea.e8595"]]},{"id":"b1c45690.4e3ba8","type":"http in","name":"UI入口:http://localhost:1880/upyun","url":"/upyun","method":"get","x":137,"y":42,"z":"fe740afa.018bf8","wires":[["ff17fafb.00e808"]]},{"id":"bd42d415.42bd28","type":"http response","name":"show UI","x":438,"y":42,"z":"fe740afa.018bf8","wires":[]},{"id":"ff17fafb.00e808","type":"function","name":"make UI","func":"msg.payload = ''\n+ '<!DOCTYPE html><html><head><meta charset=\"utf-8\"</head><body>'\n+ '<form method=\"post\" action=\"/upyun\">'\n+ '上传路径 + 文件名：<input name=\"filename\"/><br/>'\n+ '文件内容：<textarea name=\"content\"></textarea><br/>'\n+ '<input type=\"submit\" value=\"提交\"/>'\n+ '</form></body></html>'\n\nreturn msg;","outputs":1,"x":326,"y":42,"z":"fe740afa.018bf8","wires":[["bd42d415.42bd28"]]},{"id":"17a6afea.e8595","type":"function","name":"格式整理","func":"var filename = msg.req.body.filename;\nvar payload = msg.req.body.content;\nmsg.topic = filename;\nmsg.payload = payload;\nreturn msg;","outputs":1,"x":87,"y":199,"z":"fe740afa.018bf8","wires":[["4706548e.b8f9ac"]]},{"id":"4706548e.b8f9ac","type":"upyun","name":"","domainName":"","bucket":"","username":"","password":"","filename":"","format":"utf8","x":294,"y":167,"z":"fe740afa.018bf8","wires":[["62f1ff53.9d0e"]]},{"id":"62f1ff53.9d0e","type":"switch","name":"判断上传是否成功","property":"status","rules":[{"t":"eq","v":"200"},{"t":"else"}],"checkall":"true","outputs":2,"x":133,"y":286,"z":"fe740afa.018bf8","wires":[["980ce46e.67f318","cc9edb8e.336128"],["537ec09a.ac814"]]},{"id":"980ce46e.67f318","type":"function","name":"提示上传成功，查看上传文件","func":"msg.statusCode = 200;\nmsg.payload = '上传成功！<a href=\"' + msg.url +'\">查看</a>'; \nreturn msg;","outputs":1,"x":347,"y":252,"z":"fe740afa.018bf8","wires":[["c222125.f3dddf"]]},{"id":"c222125.f3dddf","type":"http response","name":"返回","x":596.666675567627,"y":282.4444456100464,"z":"fe740afa.018bf8","wires":[]},{"id":"537ec09a.ac814","type":"function","name":"提示上传失败","func":"msg.payload = msg.err;\nreturn msg;","outputs":1,"x":345.77777099609375,"y":305.88888454437256,"z":"fe740afa.018bf8","wires":[["c222125.f3dddf"]]},{"id":"cc9edb8e.336128","type":"debug","name":"","active":true,"console":false,"complete":false,"x":582.7778129577637,"y":209.22221565246582,"z":"fe740afa.018bf8","wires":[]},{"id":"564a2db5.a9b5d4","type":"comment","name":"1.双击蓝色节点，输入又拍云账号。2.点击右上角的Deploy。3.访问http://localhost:1880/upyun","info":"","x":367.8888854980469,"y":472.8888912200928,"z":"fe740afa.018bf8","wires":[]},{"id":"4c429068.b3bd7","type":"comment","name":"请不要关注很烂的UI。。。所有其他节点都是为了蓝色又拍云节点的DEMO服务的。","info":"","x":331.1111145019531,"y":426.6666603088379,"z":"fe740afa.018bf8","wires":[]}]
